body {
  font-family: sans-serif;
  background-color: #005010;
  margin:0;
}
#page {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
div#controls {
  margin: 1em;
  font-size: 1.15em;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
div#area {
  display: table;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}
.stack{
  position:absolute;
  z-index:1;
}
img {
  position: absolute;
  width: 101px;
  height: 156px;
}
.stack>img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button, select, input {
  margin:0.5em 0.2em;
  font-size:1em;
}
select#ruleset {
  width:10em;
}
select#language {
  font-size:0.75em;
  width:4em;
}
span.info {
  display:inline-block;
  position:relative;
  margin:0.5em 0.2em;
  padding: 0.1em 0.3em;
  background-color:#a0c9a8;
  width:7.5em; 
}
span.win {
  background-color:white;
}
span.data {
  position:absolute;
  right:0;
  padding-right:0.3em;
}
#help {
    width:auto;
    cursor:pointer;
}

